<!-- app.component.html -->
<div class="container">
  <header class="bg-info"></header>
  <nav class="bg-warning"><nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ShopCuaT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/">Trang chu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/sanpham">San pham</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tai khoan
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Dang ki</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/dangnhap">Dang nhap</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/lienhe">Lien he</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Lien he</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Tim kiem" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Tim</button>
        </form>
      </div>
    </div>
  </nav></nav>
  <main>
    <article class="col-md-9 bg-light">
      <router-outlet></router-outlet>
    </article>
    <aside class="col-md-3 bg-secondary"> </aside>    
  </main>
  <footer class="bg-dark text-white text-center">HỌ TÊN SINH VIÊN</footer>
</div>

